---
import AIChatPanel from "~/src/components/AIChatPanel.vue";
import SearchComponent from "../../components/Search.vue";
import { verifySpaceAccess } from "../../db/api.ts";
import SpaceLayout from "../../layouts/SpaceLayout.astro";
import { t } from "../../utils/lang.ts";
import { resolveSpacePage } from "../../utils/spacePage.ts";

const lang = Astro.preferredLocale || "en";

const result = await resolveSpacePage(Astro);
if (result.response) {
  return result.response;
}
const { space } = result;

const user = Astro.locals.user;
if (!user) {
  return Astro.redirect("/login");
}

await verifySpaceAccess(space.id, user.id);
---

<SpaceLayout title={`Search - ${space.name} - Wiki`}>
  <AIChatPanel client:only slot="outer" />
  <div data-inset class="pt-m pb-20 lg:pb-8 h-full print:px-0 px-xs lg:px-xl lg:ml-(--inset-left) lg:mr-(--inset-right)">
    <SearchComponent client:only="vue" spaceId={space.id} spaceSlug={space.slug} />
  </div>
</SpaceLayout>
