
---
---

<BaseLayout title="Document - Wiki">
    <div>
        <document-view>
            <template shadowrootmode="open">
                <style set:html={docStyles}></style>
                <Content />
            </template>
        </document-view>
    </div>
</BaseLayout>
